node_modules/
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client/dist/
client/dist-ssr/
server/dist/
server/storage/

.env
.env.*
**/.env
*.local

server/generated/prisma/
server/prisma/dev.db
server/prisma/migrations/

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Thumbs.db
ehthumbs.db
Icon?
Desktop.ini
